#clockApp {
  display: flex;
  flex-direction: row;
}

.links {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  
  a {
    display: block;
    margin: 0 10px;
    color: #3f409f;
    font-weight: 800;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
}

.clock {
  width: 250px;
  height: 250px;
  float: left;

  &-face {
    fill: #fff;
    stroke: #aaa;
    stroke-width: 1px;
  }
}

.arrow {
  &-hours,
  &-minutes,
  &-seconds {
    stroke-width: 0;
    fill: #333;
  }

  &-hours {
    fill: #005e1f;
  }

  &-seconds {
    stroke-width: 1px;
    stroke: #f55;
  }
}